.info-modal {
    background-image: url('../Images/joker-jail.jpg');
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    height: 30rem;
    border-radius: .5rem;
}

.info-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.info-title {
    font-size: 3rem;
    font-weight: 800;
    height: 8rem;
    margin-top: 10rem;
}

.general-info {
    margin-top: 2rem;
}

/* .audio {
    height: 1rem;
} */

.sub-modal {
    display: flex;
    justify-content: space-between;
    /* margin-top: 2rem; */
}

.tech-details {
    display: flex;
}

.modal-synopsis {
    line-height: normal;
    padding: 1rem 0 2rem 0;
    font-size: 1.2vw;
    max-width: 30rem;
    height: 100px;
    /* width: 40rem; */
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.genres {
    display: flex;
    margin-right: 4rem;
    line-height: normal;
    padding: 1rem 0 2rem 0;
    font-size: 1.2vw;
    max-width: 25rem;
    height: 100px;
    /* width: 40rem; */
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
    color: #565656;
}

.all-genres {
    width: 11rem;
}

.genre {
    text-decoration: none;
    color: white;
    margin-left: .25rem;
}

.genre:hover {
    text-decoration: underline;
}

.info-fade-bottom {
    height: 10rem;
    /* width: 10rem; */
    background-image: linear-gradient(180deg, transparent,  rgba(20, 20, 20, .65),  #181818);
}
