.slider-container {
    margin-top: 20px;
    width: 100%;
}

.content {
    position: relative;
    height: 225px;
    background: #777;
    color: white;
    width: fit-content;
}

.content:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.content-img {
    object-fit: cover;
    width: fit-content;
    height: fit-content
}

.cat-title {
    color: white;
    font-size: 1.4vw;
    margin-left: 2.5rem;
    font-weight: 500;
}
