.nav-top {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 4rem;
    width: 100%;
    background: linear-gradient(to bottom, #090909, rgba(255, 255, 255, 0));
    transition: all 0.75s ease-in-out;
}

.nav-not-top {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 4rem;
    width: 100%;
    background-color: #090909;
    transition: all 0.5s ease-in-out;
}

#left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home {
    display: flex;
    text-decoration: none;
    margin: 1.25rem -50rem 1.25rem 2.5rem;
}

.home:hover {
    cursor: default;
}

.logo {
    height: 15%;
    width: 15%;
}

.logo:hover {
    cursor: pointer;
}

.links {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1vw;
    font-weight: 500;
    transition: all 0.4s ease-out;
}

.links:hover {
    opacity: .60;
    transition: all 0.4s ease-out;
}

#right-nav {
    margin-right: 8rem;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 30vh;
}
